
@media screen and (max-width: 792px) {
    .navbar-nav
    {display: none;}
}

.mcontainer
{height: 100%;
width: 100%;


}
p,h1,h2,h3,h4,h5{
    font-family: "黑体-简";
    font-weight: lighter;

}


.mtop-nav
{
    height: 100px;
    width: 100%;
    background-color: #f9faf8;



}
.mtop-nav img
{
    display: inline-block;
    margin-left: 138px;
    line-height: 50px;
    margin-top: 33px;

}


.navbar-nav
{

    margin-right: 245px;
    float: right;
    margin-top: 26px;


}

.navbar-nav a
{

    color: black;
    font-size: 17px;

}


li.active>a
{color: #2c8ae2;
    border:0;

    border-bottom:1px solid #2c8ae2;

}

.bannder
{
    width: 100%;

    background-image:url("../../media/images/appImage/topImage.jpg");
    background-size:cover;
    text-align: center;
}

.text1
{

    font-size: 55px;
    color: white;

}
button
{font-size: 24px;
width: 204px;
    height: 51px;
    Border:2px solid #2888e2;
    border-radius: 5px;
    display: inline-block;
    background-color: transparent;
    color: #2888e2;

}

#t1
{padding-top: 197px;

margin-top: 0px;}
#t2
{
    margin-top: 18px;
    margin-bottom: 50px;

}

.first
{width: 100% ;
height: 726px;

    text-align: center;
}

.first>p
{height: auto;
width:52%;
margin-bottom: 49px;
}
.first h3
{


    width: 345px;
    display: inline-block;
    padding-top: 143px;
    margin-bottom: 17px;
}


.mh3
{font-size: 28px;
    border-bottom:1px solid #bdbdbd;
    display: inline-block;


margin-top: 0;


}
.second
{
    height: 503px;
    width: 100%;

    background-image: url("../../media/images/appImage/secondImage.jpg");
    background-size: cover;
    text-align: center;
}
.second h1
{
    padding-top: 222px;
    margin-bottom: 52px;
}

.mp
{font-size: 20px;
display: block;


color: #959595  ;
}

#p1
{
    width: 45%;
    margin-top: 52px;
    margin-bottom: 45px;
}
.mstar
{margin-bottom: 27px;}

.mstar::before
{
    content: url("../../media/images/wxProcessImage/star.jpg");

}
.showimg2
{margin-top: -37px;


}




.third
{width: 100%;
height: 853px;
text-align: center  ;
background-color: white}


.third img
{
    width: 100%;
    margin-top: 64px;
}


.row
{
    width: 73%;
    height: 246px;
    display: inline-block;


}
.col-md-3
{
    height: 100%;
    display: inline-block;

    padding-left: 40px;
    padding-right: 40px;

}
.col-md-3 p
{font-size: 15.2px;

    color: #adadad

}
.col-md-3 h4
{
    font-size: 20.32px;
    font-weight: normal;
    color: #868686;
}

.third p
{width: 75.7%;
    display: inline-block;
    color: #adadad;
    font-size: 20.3px;

}
.third h3
{
    padding-top: 52px;
    margin-bottom: 24px;
    color: #868686;
}