@font-face {
  font-family: 'icomoon';
  src:  url('pcfonts/icomoon.eot?k0u79w');
  src:  url('pcfonts/icomoon.eot?k0u79w#iefix') format('embedded-opentype'),
    url('pcfonts/icomoon.ttf?k0u79w') format('truetype'),
    url('pcfonts/icomoon.woff?k0u79w') format('woff'),
    url('pcfonts/icomoon.svg?k0u79w#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-document:before {
  content: "\e900";
}
.icon-educe-export:before {
  content: "\e901";
}
.icon-resetting-export:before {
  content: "\e902";
}
.icon-refresh-export:before {
  content: "\e903";
}
.icon-wifi:before {
  content: "\e904";
}
.icon-transfer:before {
  content: "\e905";
}
.icon-scan-extension:before {
  content: "\e906";
}
.icon-app-authorized:before {
  content: "\e907";
}
.icon-operate:before {
  content: "\e908";
}
.icon-gou:before {
  content: "\e909";
}
.icon-up:before {
  content: "\e90a";
}
.icon-down:before {
  content: "\e90b";
}
.icon-vip:before {
  content: "\e90c";
}
.icon-citylocation:before {
  content: "\e90d";
}
.icon-comment:before {
  content: "\e90e";
}
.icon-community:before {
  content: "\e90f";
}
.icon-emoticon:before {
  content: "\e910";
}
.icon-image:before {
  content: "\e911";
}
.icon-like:before {
  content: "\e912";
}
.icon-desc:before {
  content: "\e913";
}
.icon-app-edit:before {
  content: "\e914";
}
.icon-app-manage:before {
  content: "\e915";
}
.icon-app-preview:before {
  content: "\e916";
}
.icon-overview:before {
  content: "\e917";
}
.icon-childAccount:before {
  content: "\e918";
}
.icon-back:before {
  content: "\e919";
}
.icon-record:before {
  content: "\e91a";
}
.icon-public:before {
  content: "\e91b";
}
.icon-goods:before {
  content: "\e91c";
}
.icon-share:before {
  content: "\e91d";
}
.icon-data:before {
  content: "\e91e";
}
.icon-user:before {
  content: "\e91f";
}
.icon-album:before {
  content: "\e920";
}
.icon-audio:before {
  content: "\e921";
}
.icon-bbs:before {
  content: "\e922";
}
.icon-topnav:before {
  content: "\e923";
}
.icon-breakline:before {
  content: "\e924";
}
.icon-addfolder:before {
  content: "\e925";
}
.icon-button:before {
  content: "\e926";
}
.icon-addpage:before {
  content: "\e927";
}
.icon-backward:before {
  content: "\e928";
}
.icon-carousel:before {
  content: "\e929";
}
.icon-collect:before {
  content: "\e92a";
}
.icon-classify2:before {
  content: "\e92b";
}
.icon-formvessel:before {
  content: "\e92c";
}
.icon-edit:before {
  content: "\e92d";
}
.icon-copy:before {
  content: "\e92e";
}
.icon-delete:before {
  content: "\e92f";
}
.icon-countele:before {
  content: "\e930";
}
.icon-folder:before {
  content: "\e931";
}
.icon-text:before {
  content: "\e932";
}
.icon-titleele:before {
  content: "\e933";
}
.icon-bottomnav:before {
  content: "\e934";
}
.icon-video:before {
  content: "\e935";
}
.icon-location:before {
  content: "\e936";
}
.icon-notebook:before {
  content: "\e937";
}
.icon-shoppingcart:before {
  content: "\e938";
}
.icon-forward:before {
  content: "\e939";
}
.icon-gradeele:before {
  content: "\e93a";
}
.icon-inputele:before {
  content: "\e93b";
}
.icon-preview:before {
  content: "\e93c";
}
.icon-selectele:before {
  content: "\e93d";
}
.icon-textareaele:before {
  content: "\e93e";
}
.icon-assess-bad:before {
  content: "\e93f";
}
.icon-assess-good:before {
  content: "\e940";
}
.icon-prev-assess:before {
  content: "\e941";
}
.icon-next-assess:before {
  content: "\e942";
}
.icon-assess-middle:before {
  content: "\e943";
}
.icon-timeele:before {
  content: "\e944";
}
.icon-uploadimg:before {
  content: "\e945";
}
.icon-code:before {
  content: "\e946";
}
.icon-map:before {
  content: "\e947";
}
.icon-usercenter:before {
  content: "\e948";
}
.icon-dynamicvessel:before {
  content: "\e949";
}
.icon-freevessel:before {
  content: "\e94a";
}
.icon-goodslist:before {
  content: "\e94b";
}
.icon-layoutvessel:before {
  content: "\e94c";
}
.icon-list:before {
  content: "\e94d";
}
.icon-listvessel:before {
  content: "\e94e";
}
.icon-picture:before {
  content: "\e94f";
}
.icon-staticvessel:before {
  content: "\e950";
}
.icon-heart:before {
  content: "\e951";
}
.icon-earphone:before {
  content: "\e952";
}
.icon-templatemessage:before {
  content: "\e953";
}
.icon-franchisee-list:before {
  content: "\e954";
}
.icon-closes:before {
  content: "\e955";
}
.icon-lock:before {
  content: "\e956";
}
.icon-unlock:before {
  content: "\e957";
}
.icon-verify:before {
  content: "\e958";
}
.icon-v:before {
  content: "\e959";
}
.icon-close-switch:before {
  content: "\e95a";
}
.icon-seckill:before {
  content: "\e95b";
}
.icon-coupon2:before {
  content: "\e95c";
}
.icon-vip-card:before {
  content: "\e95d";
}
.icon-facetoface-pay:before {
  content: "\e95e";
}
.icon-rightarrow:before {
  content: "\e95f";
}
.icon-classify:before {
  content: "\e960";
}
.icon-coupon:before {
  content: "\e961";
}
.icon-reply:before {
  content: "\e962";
}
.icon-vip-card2:before {
  content: "\e963";
}
.icon-like2:before {
  content: "\e964";
}
.icon-comment2:before {
  content: "\e965";
}
.icon-publish:before {
  content: "\e966";
}
.icon-commen-bottom:before {
  content: "\e967";
}
.icon-negative:before {
  content: "\e968";
}
.icon-negative-active:before {
  content: "\e969";
}
.icon-positive:before {
  content: "\e96a";
}
.icon-star-bright:before {
  content: "\e96b";
}
.icon-star-fill:before {
  content: "\e96c";
}
.icon-nav-top:before {
  content: "\e96d";
}
.icon-nav-video:before {
  content: "\e96e";
}
.icon-nav-help:before {
  content: "\e96f";
}
.icon-phone-music:before {
  content: "\e970";
}
.icon-bin2:before {
  content: "\e9ad";
}
.icon-man:before {
  content: "\e9dc";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-arrow-up:before {
  content: "\ea3a";
}
.icon-arrow-down:before {
  content: "\ea3e";
}
