{% extends 'userManagement/indexFormat.html' %}
 {% block title %}
        <title>{{ title }}</title>
 {% endblock %}
{% block head %}
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

{% endblock %}
{% block body %}
<div class="content" style="background: white;padding: 30px">
<ol class="breadcrumb">
	<li><a href="#">Home</a></li>
	<li><a href="#">2013</a></li>
	<li class="active">十一月</li>
</ol>
{{ content |safe }}
</div>
{% endblock %}