{% extends 'userManagement/managementFormat.html' %}
{% block head %}
  <link href="../../static/userManagement/goods/css/goods.css" rel="stylesheet"/>

{% endblock %}
{% block body %}

<div class="mains" id="mains">
    <div>
        <div class="btn add-goods addGoodsIngoodsList manage-goodsList-header-common"><span
                class="glyphicon glyphicon-plus"></span> 添加商品
        </div>

    </div>

    <table class="table table-hover goods-list-table">
        <thead>
        <tr>

            <th data-field="title" type-name="文本">商品名称</th>
            <th data-field="cover" type-name="图片">商品图片</th>
            <th data-field="price" type-name="文本">价格</th>
            <!-- <th data-field="sale_price" type-name="文本">促销价</th> -->
            <th data-field="sales" type-name="文本">销量</th>
            <th data-field="stock" type-name="文本">库存</th>
            <th data-field="{dataOperation}">操作</th>
            <th data-field="ifShow">上架销售</th>
        </tr>
        </thead>
        <tbody id="goodstbody">

        </tbody>
    </table>
    		<div class="fen">
			<div id="page"></div>



					</div>


</div>
<div class="mains" id="main2">
    <div class="row page-content-header">
        <button class="right-corner-common pull-right goods-return-btn return-right-corner">返回</button>
        <button class="right-corner-common pull-right save-right-corner" onclick="postOrPatch()">保存</button>
        <!--h5><strong>添加数据</strong> | 所属对象: <span>商品</span></h5-->
        <h4 class="addNewGoods-title">添加商品</h4>
    </div>
    <form method='post' id="goodsForm" action="/api/goods/">


        {{ AddGoodsForm.as_ul }}
        <li id="images">

            <div class="file-input">
                <p class="input-container">
                    上传商品轮播图片
                    <input type="file" id="upload" accept="image/*" multiple>
                </p>

            </div>
        </li>
    </form>







</div>




<script src="../../static/userManagement/public/js/jquery.page.js"></script>
<script src="../../static/userManagement/goods/js/goods.js"></script>



{% endblock %}
{% block goodssidebar%}active{% endblock %}
{% block showsidebar %}none{% endblock %}
