{% extends 'userManagement/managementFormat.html' %}
{% load staticfiles %}
{% block head %}
<link href="{% static 'userManagement/orders/css/order.css' %}" rel="stylesheet"/>

{% endblock %}
{% block body %}
<div class="mains" id="mains">


    <div class="order-manage-wrap">
        <!-- <div class="order-type">
            <span>订单类型:</span>
            <ul>
                <li data-pjax="1" data-page="manager_order_manage" data-href="&h=manager_order_manage" class="active">电商</li>
                <li data-pjax="1" data-page="manager_order_waimai" data-href="&h=manager_order_waimai">外卖</li>
                <li data-pjax="1" data-page="manager_order_booking_manage" data-href="&h=manager_order_booking_manage">预约</li>
            </ul>
        </div> -->
        <div class="row page-content-header">
            <div class="col-md-8">
                <ul class="nav nav-pills order-status-ul">
                    <li role="presentation" class="active"><a href="javascript:;">全部</a></li>
                    <li data-state="0" role="presentation"><a href="javascript:;">待付款</a></li>
                    <li data-state="1" role="presentation"><a href="javascript:;">待发货</a></li>
                    <li data-state="2"><a href="javascript:;">待收货</a></li>
                    <li data-state="3" role="presentation"><a href="javascript:;">已完成</a></li>
                    <li data-state="-1" role="presentation"><a href="javascript:;">已关闭</a></li>
                </ul>
            </div>

        </div>
        <div class="order-content-body">
            <div class="order-list-head clearfix">
                <div class="col-md-3" style="text-align: start;padding-left: 30px;">商品</div>
                <div class="col-md-1">单价: 元</div>
                <div class="col-md-1">数量</div>
                <div class="col-md-4">买家信息</div>
                <div class="col-md-2">交易状态</div>

                <div class="col-md-1">实收: 元</div>
            </div>
            <div class="order-list-body">
                <ul class="list-unstyled order-list">
                   </ul>
            </div>
            <div id="order-table-toolbar" style="display: none;"></div>
        </div>

    </div>
    <div class="fen">
        <div id="page"></div>



    </div>


</div>


<script src="{% static 'userManagement/public/js/jquery.page.js' %}"></script>
<script src="{% static 'userManagement/orders/js/order.js' %}"></script>



{% endblock %}
{% block ordersidebar %}active{% endblock %}
{% block showsidebar %}none{% endblock %}
