{% extends 'userManagement/managementFormat.html' %}
{% load staticfiles %}

{% block body %}<div class="mains"><form method='post' enctype="multipart/form-data">{{ form }}
    <input type="submit" value="保存"/>
    </form>
</div>{% endblock %}

</form>
{% block questionsidebar %}active{% endblock %}
{% block showsidebar %}none{% endblock %}
{% block ordersidebar %}none{% endblock %}
{% block goodssidebar %}none{% endblock %}
{% block paysidebar %}none{% endblock %}
{% block moneysidebar %}none{% endblock %}
