<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/userManagement/public/css/nav.css">
</head>
<body>
<div class="nav-wrap">
    <div class="nav-logo nav-logo-img">
        <h1>微信小程序</h1>
    </div>
    <ul class="top-menu" style="position: relative;">


        <li class="menu-one check_login" >
            <a href="/help/">小程序教程</a>
        </li>

        <li class="menu-one active">
            <a href="/index/">首页</a>
        </li>
        <div class="nav_line"
             style="position: absolute; height: 2px; background: rgb(0, 0 0); top: 54px; z-index: 0; width: 92px; left: 282.391px;"></div>
    </ul>
    <div class="nav-login">
        <div class="menu-one nav-center">
            <a href="http://www.jisuapp.cn/index.php?r=pc/IndexNew/showUserInfo&amp;is_app=1"><img class="nav-img"
                                                                                                   src="../../static/userManagement/myXcx/img/touxiang.png">
                {{ user.username }}
            </a>
            <ul is_designer="-1">
                <li class="menu-two"><a href="/logout/"
                                        >退出</a></li>
            </ul>
        </div>
        <!-- <div class="massage"><a href="/index.php?r=pc/IndexNew/showInform&is_app=1" title="通知中心"><img id="massageImg" src="http://cdn.jisuapp.cn/zhichi_frontend/static/pc/index/img/message_enter.png" onmousemove="enter(this)" onmouseout="leave(this)" alt=""></a>
        </div> -->
    </div>
</div>
</body>
</html>